/build/
/cmake-build-debug/
.DS_Stroe
.vscode
*.cmake
Makefile
CMakeFiles/
0_hello_world/hello_world
10_reduceInteger/reduceInteger
11_simple_sum_matrix2D/simple_sum_matrix
12_reduce_unrolling/reduceUnrolling
14_global_variable/global_variable
15_pine_memory/pine_memory
16_zero_copy_memory/zero_copy_memory
17_UVA/UVA
18_sum_array_offset/sum_array_offset
19_AoS/AoS
1_check_dimension/check_dimension
20_SoA/SoA
21_sum_array_offset_unrolling/sum_array_offset_unrolling
22_transform_matrix2D/transform_matrix2D
23_sum_array_uniform_memory/sum_arrays_uniform_memory
24_shared_memory_read_data/shared_memory_read_data
25_reduce_integer_shared_memory/reduce_integer_shared_memory
26_transform_shared_memory/transform_shared_memory
27_stencil_1d_constant_read_only/stencil_1d_constant_read_only
28_shfl_test/shfl_test
29_reduce_shfl/reduce_shfl
2_grid_block/grid_block
30_stream/stream
32_stream_resource/stream_resource
33_stream_block/stream_block
34_stream_dependence/stream_dependence
35_multi_add_depth/multi_add_depth
36_multi_add_breadth/multi_add_breadth
37_asyncAPI/asyncAPI
38_stream_call_back/stream_call_back
3_sum_arrays/sum_arrays
4_sum_arrays_timer/sum_arrays_timer
5_thread_index/thread_index
6_sum_matrix/sum_matrix
7_device_information/device_information
8_divergence/divergence
9_sum_matrix2D/sum_matrix2D
CMakeCache.txt
